{% extends 'partials/base.html.twig' %}

{% block content %}
    <article class="post">
        <h1>404 – Seite nicht gefunden</h1>
        <img src="{{ url('theme://images/lost.jpg') }}">
        <figcaption>Verloren im Paradies?</figcaption>
        <p>Diese Seite konnte ich leider nicht finden. <a href="/">Hier</a> geht's zurück zur Startseite</p>
    </article>
{% endblock %}
