<header id="header">
    <nav role="navigation">
        <ul class="nav">
            {% for page in pages.children %}
                {% if page.visible %}
                    {% set additional_classes = (page.active or page.activeChild) ? ' nav-item-active' : '' %}

                    {% if page.url == '/' %}
                        {% set additional_classes = ' nav-item-title icon-directions' %}
                    {% endif %}

                    <li class="nav-item{{ additional_classes }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>
